body{
    background-color: rgb(156, 247, 247);
    margin: 0;
    overflow: hidden;
    animation-duration:20s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-name: sky;
}

@keyframes sky{
    0%{
        background-color: #7c6b87;
    }
    10%{
        background-color: #e4ae8d;
    }
    20%{
        background-color: #87a7bd;
    }
    30%{
        background-color: #8ac0fe;
    }
    40%{
        background-color: #c37848;
    }
    50%{
        background-color: #e96229;
    }
    60%{
        background-color: #824943;
    }
    70%{
        background-color: #402321;
    }
    80%{
        background-color: #000000;
    }
    90%{
        background-color: #000000;
    }
    100%{
        background-color: #504657;
    }
  }

.grass{
    background-color: green;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.tentacle{
    width: 390px;
    position: fixed;
    right: 0;
    top: 3rem;
    animation-name: tentaclemove, tentaclegrab;
    animation-duration: 2s, 2s;
    animation-direction: alternate, alternate-reverse;
    animation-iteration-count: infinite, infinite;
    animation-timing-function:cubic-bezier(0.6, 0.04, 0.98, 0.335), cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes tentaclemove{
    from{
        top: 0;
    }
    to{
        top: 30%;
    }
}

@keyframes tentaclegrab{
    from{
        transform: rotateZ(-45deg);
    }
    to{
        transform: rotateZ(-15deg);
    }
}
.monster{
    width: 200px;
    position: absolute;
    bottom: 6rem;
    animation-name: monsterslide;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.monster:hover{
    animation-play-state: paused;
}

@keyframes monsterslide{
    from{
        left: 10%;
    }
    to{
        left: 75%;
    }
}

.eyes{
    width: 80px;
    position: absolute;
    top: 3rem;
    left: 4rem;
    animation-name: move-eyes;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes move-eyes{
    25%{
        transform: translateX(0px);
    }
    50%{
        transform: translateY(0px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        transform: translateY(10px);
    }
}

.cloud{
    background-image: url("images/cloud.svg");
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    position: absolute;
    left: -18rem;
    top: 5rem;
    animation: drift 8s linear 1s 3;
}

@keyframes drift{
    from{
        left: -18rem;
        transform: scale(1.5);
    }
    45%{
        transform: scale(1.25);
    }
    to{
        left: 200%;
        transform: scale(1);
    }
}

.sun{
    background-image: url("images/sun.svg");
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    position: absolute;
    animation-name: day;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.moon{
    background-image: url("images/spite_moon.svg");
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    position: absolute;
    animation-name: night;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes day{
    0%{ 
        top:100%; 
        left:10%;
    }
    10%{ 
        top:40%; 
      
    }
    20%{ 
        top:20%; 
    }
    30%{ 
        top:30%; 
        left:50%; 
    }
    40%{ 
        top:50%; 
    }
    50%{ 
        top:70% ; 
        left:70% ;
    }
    60%{ top:80% ; 
        left:80%; 
    }
    75%{
        top:150%;
    }
    90%{ 
          top:200%; 
    }
    100%{
        top: 200%;
        left: 150%;
    }
}

@keyframes night {
    0%{ 
        top:100%; 
        left:100%; 
    }
      50%{ 
        top:100%; 
        left:10%;  
    }
      60%{ 
        top:40%; 
    }
      70%{ 
        top:20%; 
    }
    80%{ 
        top:30%; 
        left:50%; 
    }
    90%{
        top:60%; 
    }
    100%{ 
        top:100%; 
        left:100%; 
    }
}